
</div>
<h1>Item</h1>

<%= form_tag items_path, :method => 'get', remote: true do %>
  <p>
    <input type="text_field" placeholder="Search For Items Title" name="search">
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>


<%= link_to "Advanced Search", new_search_path %>
<div>
  <table>
    <thead>
      <tr>
        <th>title</th>
        <th>location</th>
        <th>Price</th>
        <th>Picture</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody id='all_items'>
      <%= render partial: 'search_results', locals: {items: @items} %>
    </tbody>
  </table>

</div>


<br>

<%= link_to 'New Item', new_item_path %>
